.container {
  background: linear-gradient( 135deg, #72EDF2 10%, #5151E5 100%);
  padding: 15px;
  height: 100%;
}

.p-3,.modal-content {
  background: linear-gradient( 13deg, #72EDF2 10%, #5151E5 100%);
}
#change-loc {
  background:#5151E5;
  border-color: #72EDF2;
}
#w-change-btn {
  background: #72EDF2;
  border-color: #5151E5;
  color: #000;
}
#card {
  background: linear-gradient(135deg, #72EDF2 10%, #5151E5 100%);
  border: 1px solid #fff;
}
.cards {
  background: linear-gradient(13deg, #72EDF2 10%, #5151E5 100%);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
h2, h3, th, .card-text, .card-header {
  color: #fff;
}

#day-2, #day-3, #day-4, #day-5 {
  background-color: #5151E5;
}
.card-body {
  background: #5151E5;
}
h2, h3 {
  line-height: 1.2em;
}